extends layout

block content
  h1.title #{title} <span>wrote by #{author}.</span>
  div.mail.p-8.mb-24.mx-0
    p 皆様
    p はじめまして。おはようございます。こんにちは。こんばんは。さようなら。どのような方が来られるのかわからないので、一通りのあいさつを並べました。<span class="author">#{author}</span>です。よろしくお願いします。<br>
    span playgroundは遊び場という意味です。リアルタイムに結果を見ながらコードを書いていく、swift独自の機能でもあります。さすが林檎。おしゃれな言葉を使いますね。気に入りました。私が考えたことにします。おしゃれでしょ？
    span 空いた時間や、休日に、クソページをつくって公開します。雑コラならぬ、雑プロです。htmlとcssはプログラムじゃない？ うるせー！ しらねー！ Final Fantasy.<br>
    span 要はポートフォリオです。お仕事ください。お金ください。待ってます。ご連絡はこちらまで。（どこまで？）
    p 以上、よろしくお願いいたします。
    p <span class="author">#{author}</span>
  
  div.mail.p-8.mb-24.mx-0
    p 2018/11/dd
    p 
      a(href=day1) day 1.
    p 4コマ漫画。四角を縦に4つ並べるね。

  div.mail.p-8.mb-24.mx-0
    p 2018/11/25
    p 
      a(href="https://unityroom.com/games/spacegingatotsuboshi") スペース銀河十ツ星（観賞用）
    p
      img(src="/images/capture.png")
    p Unity1Weekに参加しました。23~25日の三連休での作成です。<br>久しぶりにUnityを触りました。アニメーションの設定をしながら、Unityが辛いツールだったことを思い出しました。作中のアニメは、イラスト、フレーム割り、すべて手作業です。せめて自動でアニメを割り当てる機能がUnityにあればなと思った次第。
      a(href="https://unityroom.com/unity1weeks") #unity1week
    
